/****** Script for SelectTopNRows command from SSMS  ******/
Select * from Account
INSERT INTO ACCOUNT VALUES (00001, 1/18/2017, $1,233.00, 'Green Bookbag')
INSERT INTO ACCOUNT VALUES (00002, 1/23/2017, $65.00, 'Pink skirt')
INSERT INTO ACCOUNT VALUES (00003, 2/10/2017, $1.00, 'Tableware')
